<!DOCTYPE html>
<html lang="en">
  <head>
    <title>M.A.N.A.G.E.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

    <script src="{{url_for('static',filename ='jquery-3.3.1.min.js' )}}"></script>
    <!--<script src="{{url_for('static',filename ='ajx.js' )}}"></script>
    <script src="{{url_for('static',filename ='ajx1.js' )}}"></script>-->
    <script src="{{url_for('static',filename ='j.js' )}}"></script>

    <link rel="stylesheet" href="{{url_for('static',filename = 'icomoon/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'owl.carouseSl.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'aos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <nav class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25">
            <a href="{{url_for('home')}}">M.A.N.A.G.E.</a></div>
            <div class="row align-items-center">
              <form action="/edit/" method="POST">
                <input style="margin: 10px;" type="submit" class="btn primary" value="Edit data" name="edit">
              </form>
              <form action="/logout/" method="POST">
                <input type="submit" class="btn btn-primary" value="Logout" name="logout">
              </form>
              
        </div>
      </div>
      
    </nav>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('http://localhost:5000/static/img_1.jpg'); height: auto;" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">


              <div class="row align-items-center form-group">

                <div class="col-lg-6" style="margin-top: 100px">
                  <form action="/send/" method="post" class="form-box form2">
                    <h3 class="h4 text-black mb-4">ASSIGN FACULTY</h3>
                    <div class="form-group">
                      <select class="form-control year1" name="year1">
                        <option>Select Year </option>
                        <option value="1st">1st Year</option>
                        <option value="2nd">2nd Year</option>
                        <option value="3rd">3rd Year</option>
                        <option value="4th">4th Year</option>
                      </select>
                    </div>
                    
                    <div class="form-group">
                        <select class="form-control div1" name="division1" >
                        
                        </select>
                    </div>

                    <div>
                       <label class="radio-inline">
                              <input type="radio" name="subj" id="theo" value='Theory'checked>Theory Lecture
                       </label>
                       
                       <label class="radio-inline">
                             <input type="radio" name="subj" id="prac" value="Practical">Practical
                       </label>
                    </div>

                    <div class="form-group batch2">
                        
                    </div>

                    
                    <div class="form-group">
                        <select class="form-control subject1" name="subject">
                        
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <select class="form-control teacher1" name="subteacher">
                                <option selected="select">Select Teacher</option>
                             {% for i in range(res1|count) %}
                                <option value="{{res1[i][0]}}">{{res1[i][0]}}</option>
                             {%endfor%}
                        </select>
                    </div>

                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Submit" name="submitdata">
                    </div>
                  </form>

                </div>

                <div class="col-lg-4 ml-auto" style="margin-top: 20px" >
                  
                <form action="/faculty/" method="POST" class="form-box form1">
                  <h3 class="h4 text-black mb-4">FACULTY PERFORMANCE</h3>
                  <div class="form-group">

                      <select class="form-control" name="teach" id="data" required>
                           <option selected="select">Select Teacher</option>
                         {% for i in range(res|count) %}
                           <option value="{{res[i][0]}}">{{res[i][0]}}</option>
                         {%endfor%}
                      </select>

                  </div>

                  <div class="form-group">
                      <select class="form-control year" name="y" required>
                        
                      </select>
                  </div>

                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Search" name="submitdata" id = "subdata">
                    </div>

                </form>
              
              </div>
            </div>
               
          </div>
          
        </div>
      </div>
    </div>
  </div>
               

  

  <script src="{{url_for('static',filename ='jquery-3.3.1.min.js' )}}"></script>
  
  <script src="{{url_for('static',filename = 'jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'jquery.stellar.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'jquery.countdown.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'aos.js')}}"></script>
  <script src="{{url_for('static',filename = 'jquery.fancybox.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'jquery.sticky.js')}}"></script>
  <script src="{{url_for('static',filename = 'main.js')}}"></script>
 
  
    
  </body>
</html>