
  <div class="table-responsive">

     <table class="table table-stripped">
      <tr style="text-align: center;">
        <th><b>PERFORMANCE = {{tt}} %</b></th>
      </tr>
  
      <tr>
        <th><b>NO PROBLEM</b></th>
        <td>{{res0}}%</td>
      </tr>

      <tr>
        <th>Poor Preperation</th>
        <td>{{res1}}%</td>
      </tr>

      <tr>
        <th>pronounciation/Poor English</th>
        <td>{{res2}}%</td>
      </tr>

      <tr>
        <th>fast completion</th>
        <td>{{res3}}%</td>
      </tr>

      <tr>
        <th>Low Voice</th>
        <td>{{res4}}%</td>
      </tr>

      <tr>
        <th>Improper Board Writing</th>
        <td>{{res5}}%</td>
      </tr>

      <tr>
        <th>Less Syllabus Covered</th>
        <td>{{res6}}%</td>
      </tr>

      <tr>
        <th>Lack of Interaction</th>
        <td>{{res7}}%</td>
      </tr>

      <tr>
        <th>Doubt not Cleared</th>
        <td>{{res8}}%</td>
      </tr>

      <tr>
        <th>Less Explaination</th>
        <td>{{res9}}%</td>
      </tr>

      <tr>
        <th>Fast Completion</th>
        <td>{{res10}}%</td>
      </tr>
    
     </table>
  </div>


